# Site Configuration: The domain for the environment
NEXT_PUBLIC_SITE_URL=
#NEXT_PUBLIC_SITE_TITLE=

# API Endpoints: Form handler
NEXT_PUBLIC_CONTACT_FORM_ENDPOINT=

# Analytics: Google Tag Manager ID
NEXT_PUBLIC_GTM_ID=

# Environment: Note, Railway sets this itself 
# NODE_ENV=development
