---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../layouts/PageHeader.astro";
import Grid from "../components/react/Grid";
import { getEntry } from "astro:content";

const page = await getEntry("gallery", "_index");
---

<BaseLayout title={page?.data.title} description={page?.data.description}>
  <PageHeader heading="Gallery" />
  <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
    <Grid client:visible />
  </div>
</BaseLayout>
